name: CI

on:
  pull_request:
    branches: [ main, dev ]
  push:
    branches: [ dev ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync

      - name: Check formatting (black)
        run: uv run black --check .

      - name: Check imports (isort)
        run: uv run isort --check-only .

      - name: Run tests
        run: uv run -m pytest
